
  <p-selectButton [options]="flightTypes" [(ngModel)]="selectedType"></p-selectButton>
  <p-toolbar>
  <div class="condition">
    <table class="lamp">
      <tr>
        <td>
          <p>Please choose a depart city:</p>
        </td>
        <td>
            <p-dropdown [options]="groupedCities" [(ngModel)]="selectedDepart" placeholder="City of Airport" [group]="true"></p-dropdown>
        </td>
        <td>
          <p>Please choose a arrive city:</p>
        </td>
        <td>
          <p-dropdown [options]="groupedCities" [(ngModel)]="selectedArrive" placeholder="City of Airport" [group]="true"></p-dropdown>
        </td>
      </tr>
      <tr>
        <td>
          <p>Please choose Date Range:</p>
        </td>
        <td>
          <p-calendar [(ngModel)]="selectDates" selectionMode="range" [minDate]="today" [maxDate]="maxDate"></p-calendar>
        </td>
      </tr>
    </table>
  </div>
  <div class="button">
    <p-button label="Click" (onClick)="handleClick($event)"></p-button>
  </div>
  <p-growl [(value)]="msgs"></p-growl>
</p-toolbar>
